<meta charset="UTF-8"/>
<div id="h">
	<div class="sInfo">
		Powered by <a href="http://www.java1234.com" target="_blank">Java1234</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/toDeclarePage">免责申明</a>
		&nbsp;&nbsp;|&nbsp;&nbsp;<a target="_blank" style="color: red" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1002222344&amp;site=qq&amp;menu=yes">侵权举报</a>
		&nbsp;&nbsp;|&nbsp;&nbsp;<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1002222344&amp;site=qq&amp;menu=yes">广告合作</a>
	</div>
   	<div class="foot" align="center">Copyright © 2012-2018 Java知识分享网 版权所有</div>
</div>