<meta charset="UTF-8"/>
<div id="m">
	<ul class="layui-nav layui-nav-tree layui-inline" style="margin-right: 10px;">
	  <li class="layui-nav-item layui-nav-itemed">
	    <a href="javascript:;">功能菜单</a>
	    <dl class="layui-nav-child">
	      <dd><a href="/user/article/toPublishArticlePage">发布资源</a></dd>
	      <dd><a href="/user/article/toArticleManagePage">资源管理</a></dd>
	      <dd><a href="/user/comment/toCommentManagePage">评论管理</a></dd>
	      <dd><a href="/user/userDownload/list/1">已下载资源</a></dd>
	      <dd><a href="/user/message/list/1">系统消息</a></dd>
	    </dl>
	  </li>
	</ul>
</div>