<meta charset="UTF-8"/>
<div id="f">
	
	<fieldset class="layui-elem-field layui-field-title">
	  <legend>已下载资源列表</legend>
	</fieldset>
    <div class="listUserDownLoad">
    	<div class="UserDownLoad" th:each="userDownload:${userDownloadList}">
    		<span th:text="'【'+${#dates.format(userDownload.downloadDate,'yyyy-MM-dd HH:mm')}+'】'"></span>
    		&nbsp;下载了&nbsp;
    		<a target="_blank" th:href="'/article/'+${userDownload.article.id}" th:title="${userDownload.article.name}" th:text="${#strings.length(userDownload.article.name)}>37?${#strings.substring(userDownload.article.name,0,38)}:${userDownload.article.name}"></a>
    	</div>
		<div align="center" style="padding-top: 20px" th:utext="${pageCode}"></div>
    </div>
    
</div>